In [1]:
import polars as pl


# データの読み込み
purchase_df = pl.read_csv("assets/purchase_data.csv")
sale_df = pl.read_csv("assets/sale_data.csv")

In [2]:
# `purchase_data`の表示
display(purchase_df)

shape: (1_000, 4)
┌────────────┬──────┬──────────┬──────────┐
│ 売上日     ┆ 時刻 ┆ ユーザー ┆ 購入金額 │
│ ---        ┆ ---  ┆ ---      ┆ ---      │
│ str        ┆ i64  ┆ str      ┆ i64      │
╞════════════╪══════╪══════════╪══════════╡
│ 2025-01-01 ┆ 9    ┆ A        ┆ 3510     │
│ 2025-01-01 ┆ 9    ┆ I        ┆ 2100     │
│ 2025-01-01 ┆ 13   ┆ C        ┆ 4210     │
│ 2025-01-01 ┆ 13   ┆ M        ┆ 1850     │
│ 2025-01-01 ┆ 14   ┆ A        ┆ 2770     │
│ …          ┆ …    ┆ …        ┆ …        │
│ 2025-03-31 ┆ 19   ┆ H        ┆ 3250     │
│ 2025-03-31 ┆ 19   ┆ W        ┆ 3960     │
│ 2025-03-31 ┆ 20   ┆ A        ┆ 2960     │
│ 2025-03-31 ┆ 21   ┆ B        ┆ 1190     │
│ 2025-03-31 ┆ 21   ┆ D        ┆ 3570     │
└────────────┴──────┴──────────┴──────────┘

In [3]:
# `sale_data`の表示
display(sale_df)

shape: (10, 1)
┌────────────────────────────┐
│ 日時                       │
│ ---                        │
│ str                        │
╞════════════════════════════╡
│ 2025-01-28T16:00:00.000000 │
│ 2025-01-24T18:00:00.000000 │
│ 2025-03-13T09:00:00.000000 │
│ 2025-01-09T21:00:00.000000 │
│ 2025-02-16T10:00:00.000000 │
│ 2025-02-02T10:00:00.000000 │
│ 2025-03-03T11:00:00.000000 │
│ 2025-01-19T21:00:00.000000 │
│ 2025-03-08T14:00:00.000000 │
│ 2025-03-15T09:00:00.000000 │
└────────────────────────────┘

## 1. 文字列から`Datetime型`への変換

`purchase_df`の**売上日**および**時刻**からPolarsのDatetime型へ変換して、新しく**日時**列を追加してください。

## 2. 土日の午後1時から午後5時までの行動を抽出する

`purchase_df`から土日の午後1時から午後5時までのデータを選択して、新しいデータフレーム`new_purchase_df`を作成してください。

## 3. 何日ぶりに購入したかを計算する

`purchase_df`でユーザーが何日ぶりに訪れたかを、新しく**来店間隔**列を作成してください。

## 4. 現在の行を含めずにユーザーごとに累計購入金額と累計購入回数を計算する

`purchase_df`で各ユーザーの累計購入金額および累計購入回数を計算して**累計購入金額**, **累計来店回数**列を追加してください。  
ただし同一の行の情報は含まないようにして、**累計来店回数**においてもしこれまで来店したことがなければ0の値にしてください。

## 5. 直近3回の購入平均額および最大購入額を計算する

`purchase_df`で各ユーザーごとの直近3回の購入金額の平均と、最大購入金額を計算して**直近3回の購入平均額**, **直近3回の最大購入額**列を追加してください。  
ただしもし3回も購入したことがなければ、最低でも**2回以上**購入していればその平均値と最大値の計算を行ってください。

## 6. 過去1ヶ月の平均購入額を計算する

`purchase_df`で各ユーザーで直近1ヶ月の平均購入金額を計算して**直近1ヶ月の購入平均額**列を追加してください。  
ただし同一の行の情報は含まないようにしてください。

## 7. 過去1週間から過去1日前までの平均購入額を計算する

`purchase_df`で各ユーザーで直近1ヶ月の平均購入金額を計算して**過去1週間から過去1日前までの購入平均額**列を追加してください。

## 8. 各日にちの合計購入額を計算する

`purchase_df`で2025-01-01から2025-03-31まで各日にちごとに購入金額を合計した**日時**と**日次購入金額**からなる新しいDataFrameを作成してください。